<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="indexstyles.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>GoGreen</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="/index">GoGreen</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/index">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/trash">Trash Request</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="about.html">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="news.html">News</a>
                </li>


            </ul>
            
        </div>
    </nav>
    <div class="farmsToTable">
        <img src="images/GoGreen.png" class="img-fluid">

    </div>
    <div class="container-fluid Products">
        <h2 id="Heading" class="productsHeading">Types of Dumpster Rentals</h2>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" id="grains" src="images/rollofdumpster.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Roll  of Dumpster</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Make the job easier for yourself and your employees.</li>
                        <li class="list-group-item">Reduce your reliance on the landfill.</li>
                        <li class="list-group-item">Keep worksite garbage hazards in one place.</li>
                        <li class="list-group-item"> A roll-off dumpster ensures they decompose and recycle your garbage.</li>
                        
                      </ul>
                    <a href="" class="card-link d-flex justify-content-center mt-3">Shop Now</a>
                </div>

            </div>
            <div class="card">
                <img class="card-img-top fruits"  src="images/commbuis.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Commercial Buisness Waste Mangagement</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Rent a commercial dumpster for your business and let Waste Connections do the garbage pickup.</li>
                        <li class="list-group-item">No matter your business size, we can find a commercial dumpster rental that is right for you.</li>
                        <li class="list-group-item">Cut down on the number of dumpsters you’ll need and enjoy</li>
                        
                      </ul>
                    <a href="" class="card-link d-flex justify-content-center mt-3">Shop Now</a>
                </div>

            </div>
            <div class="card">
                <img class="card-img-top fruits" id="" src="images/trashcompactors.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Trash Compactors</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">For large businesses, shopping centers, apartment complexes, or businesses with bulky refuse.</li>
                        <li class="list-group-item">Compress your waste, which reduces the number of garbage pickups, saving you money.</li>
                        <li class="list-group-item">Waste Connections rents, sells, and services trash compactors.</li>
                        
                      </ul>
                    <a href="" class="card-link d-flex justify-content-center mt-3">Shop Now</a>
                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid myCards">
        <h2 id="Heading">Commercial Services</h2>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" src="images/rolloff.png" alt="Card image cap">
                <div class="card-body">
                    <h5 class="card-title">Roll-Off Dumpster Rental</h5>
                    
                </div>

            </div>
            <div class="card">
                <img class="card-img-top" id="" src="images/commtrash.png" alt="Card image cap">
                <div class="card-body ">
                    <h5 class="card-title">Commercial Trash Compactor</h5>
                   
                    
                </div>

            </div>
            <div class="card">
                <img class="card-img-top" id="" src="images/commwaste.png" alt="Card image cap">
                <div class="card-body serviceCard">
                    <h5 class="card-title">Commercial Waste Collection</h5>
                   
                </div>

            </div>
            <div class="card">
                <img class="card-img-top" id="" src="images/commdump.png" alt="Card image cap">
                <div class="card-body serviceCard">
                    <h5 class="card-title">Commercial Dumpster Rental </h5>
                   
                </div>

            </div>
        </div>

    </div>
    <div class="container-fluid testimonials">
        <h2 id="Heading" class="productsHeading">Testimonials</h2>
        <div class="card-deck">
            <div class="card">
                <img class="card-img-top" id="grains" src="images/quentin2.jpg" alt="Card image cap">
                <div class="card-body">
                    <blockquote class="">
                        <p>We are very pleased with  the super service that GoGreen provides. We have recommended GoGreen to all our family & friends.</p>
                        <footer class="blockquote-footer"> <cite title="Source Title">Quentin Tarantino
                            </cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" id="grains" src="images/fincher.jpg" alt="Card image cap">
                
                <div class="card-body">
                    <blockquote class="">
                        <p>Firstly I would like to thanks GoGreen for it's friendly customer services which helped me a lot. GoGreen has always been a helping hand in ou daily lives by giving quality service, on time pickup and at very competitive pricing.</p>
                        <footer class="blockquote-footer"> <cite title="Source Title"> David Fincher
                                </cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" id="grains" src="images/matt3.jpg" alt="Card image cap">
                <div class="card-body">
                    <blockquote class="">
                        <p>I have been a regular GoGreen user and enjoy the experience of the  website, it's initiatives like this add more excitement and joy to the process of keeping environment safe  for me and my family. I wouls like to thank GoGreen to give me such an amazing experience.</p>
                        <footer class="blockquote-footer"> <cite title="Source Title">Matt Damon
                                </cite></footer>
                    </blockquote>
                </div>
            </div>
            <div class="card">
                <img class="card-img-top" id="grains" src="images/bale.jpg" alt="Card image cap">
                <div class="card-body">
                    <blockquote class="">
                        <p> At first I never trusted Waste Mangagement Websites. But, then one of my friends suggested to  try GoGreen due to the panademic. I was shocked to see that the service followed all the Covid-19 protocols.  Kudos to GoGreen.</p>
                        <footer class="blockquote-footer"> <cite title="Source Title">Christian Bale
                                </cite></footer>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>
   
    <footer class="main-footer">
        <div class="container main-footer-container">
            <h3 class="band-name"> GoGreen Pvt. Ltd. </h3>
           
            <ul class="nav footer-nav">
                <li>
                    <a href="https://www.youtube.com" target="_blank">
                        <img src="Images/YouTube Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.spotify.com" target="_blank">
                        <img src="Images/Spotify Logo.png">
                    </a>
                </li>
                <li>
                    <a href="https://www.facebook.com" target="_blank">
                        <img src="Images/Facebook Logo.png">
                    </a>
                </li>
            </ul>
           
        </div>
        <div id="cr">

            Copyright ©2021 All rights reserved
        </div>
       
    </footer>

    







    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
        integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>

</body>

</html>